mixin info(type)
  a.info
    //- .left-border(class="bg-#{type}")
    .aside
      img(src="http://tp4.sinaimg.cn/1769038103/180/5697174854/1")
    .content
      .title 
        span H&M 全场8.5折， 满200减50
        span.date 7.13 2014
      .location
        //- img.icon-location(src="./img/icon-location.png")
        span H&M(南京东路店)
