mixin info(type)
  a.info
    .left-border(class="bg-#{type}")
    .aside
      img(src="http://tp4.sinaimg.cn/1769038103/180/5697174854/1")
    .content
      .title 90% off in H&M
      .date 7.13 2014