center()
  margin-left:auto
  margin-right:auto

cycle(n)
  width: n
  height: n
  border-radius: 50%

red=#e87b5e
yello=#f0d250
green=#07c2af
blue=#2aacd0
light_grey=#efefef
dark_grey=#555555

shadow = 0 2px 2px rgba(0, 0, 0, .2)

*
  box-sizing:border-box
  -webkit-touch-callout: none
  -webkit-user-select: none

body
  font-family:"Hiragino Sans GB"  
  font-weight: 300
  background-color:light_grey

.bg-lunch
  background-color:yello

.bg-promo
  background-color:green

.bg-card
  background-color:blue

.bg-brand
  background-color:red