info()
  display:block
  background-color:white
  height:90px
  border-top:1px solid #cecece
  border-bottom:1px solid #cecece
  &:hover
    background-color:#efefef
  .left-border
    float:left
    width:6px
    height:100%
  .aside
    float:left
    width:84px
    height:100%
    img
      display:block
      center()
      margin-top:12px
      cycle(66px)
  .content
    .title
      padding-top:10px
      line-height:40px
      font-size:18px
      color:dark_grey
    .date
      color:#cecece
      font-size:14px