info()
  display:block
  background-color:white
  height:90px
  border-top:1px solid #cecece
  border-bottom:1px solid #cecece
  &:hover
    background-color:#fefefe
  .left-border
    float:left
    width:6px
    height:100%
  .aside
    float:left
    width:84px
    height:100%
    img
      display:block
      center()
      margin-top:12px
      cycle(66px)
  .content
    position:relative
    padding-left:90px
    .title
      padding-top:10px
      line-height:40px
      height:40px
      font-size:15px
      color:dark_grey
      overflow:hidden
      text-overflow: ellipsis
    .location
      margin-top:10px
      color:dark_grey
      line-height:20px
      font-size:13px
      color:#bbbbbb
      img.icon-location
        width:16px
        height:14px
        margin-right:3px
    .date
      display:none
      top:10px
      right:10px
      color:#cecece
      font-size:14px