include ./common/component

extends layout/default.jade

block head  
  title index
  +css("./css/index.css")

block content
  .wrapper
    .banner-area#banner-area
      img.banner(src="http://placekitten.com/g/612/612")
      img.banner(src="http://placekitten.com/g/612/613")
      img.banner(src="http://placekitten.com/g/612/614")
    .category-area
      .category
        .icon.bg-brand
          img(src="./img/icon-brand.png")
        .title 品牌优惠
      .category
        .icon.bg-lunch 
          img(src="./img/icon-lunch.png")
        .title 午市套餐
      .category
        .icon.bg-promo
          img(src="./img/icon-promo.png")
        .title 电商大促
      .category
        .icon.bg-card
          img(src="./img/icon-card.png")
        .title 信用卡惠
    .hot-area
      .head 最热优惠
      .info-list
        each type in ['lunch','lunch','lunch','brand','card','lunch','lunch','brand']
          +info(type)
  +js("./js/index.js")



